.DS_Store
node_modules
config.auto.json
config.custom.json
install.log
App/assets*
Kiosk

App/resources/fonts
App/resources/sfx/sfx-obj-add_artic.mp3
App/resources/sfx/sfx-shape-rotate_artic.wav
App/resources/sfx/sfx-tap_artic.mp3
App/PDF
App/PDFWK
App/resources/images/credits-logo-womans-board.png
App/resources/images/journey-guide-instructions.png
App/resources/images/artic-logo.png
App/sites/
